<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zaviera</title>
    
    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Charm:wght@400;700&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Charm:wght@400;700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    
    <!-- icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header id="headercontent">
        <nav class="navbar">
            <div class="title-navbar"> 
                <a href="">
                    <h1>Zaviera</h1>
                </a>
            </div>

            <div class="menu-navbar">
                <ul class="ul-list">
                    <li>
                        <a href="#/home">Home</a>
                    </li>
                    <li>
                        <a href="#/contact">Contact</a>
                    </li>
                    <li>
                        <a href="#/about">About</a>
                    </li>
                    <li>
                        <a href="#/login" class="login-logout">Sign Up</a>
                    </li>
                </ul>
            </div>

            <div class="search-navbar">
                <form action="">
                    <input type="text" placeholder="What are you looking for?">
                </form>
                <div class="search-button">
                    <i class="fa fa-search"></i>
                </div>
            </div>

            <div class="wish-cart-navbar">
                <a href="/#/wishlist" class="wishlist"><i class="fa fa-heart"></i></a>
                <a href="/#/cart" class="cart"><i class="fa fa-shopping-cart"></i></a>
            </div>
        </nav>
    </header>

    <main id="maincontent">
    </main>

    <footer>
        <div class="first-footer">
            <div class="exclusive">
                <h2>Exclusive</h2>
                <h3>Subscribe</h3>
                <span>get 10% off our first order</span>
            </div>

            <div class="support">
                <h2>Support</h2>
                <span>Jakarta, Indonesia</span>
                <span>alief1101@gmail.com</span>
                <span>+88015-88888-99999</span>
            </div>

            <div class="account">
                <a href="">My Account</a>
                <a href="">Login / Register</a>
                <a href="">Cart</a>
                <a href="">Wishlist</a>
                <a href="">Shop</a>
            </div>

            <div class="quick-link">
                <a href="">Privacy Policy</a>
                <a href="">Terms Of Use</a>
                <a href="">FAQ</a>
                <a href="">Contact</a>
            </div>
        </div>

        <div class="second-footer">
            <span>&copy; Copyright Zaviera 2024. All right reserved</span>
        </div>
    </footer>
</body>
</html>